 body {
    background-color: palevioletred; 
    border-radius: 50px;
}

h1 {
   color: pink;
}

h3 {
   color: pink;
}



hr {
   border-style: none;
   border-top-style: dotted;
   border-color: purple;
   border-width: 5px;
   width: 5%;
 }

 img {
    border-radius: 50%;
 }

